---
title: ¿Quiénes somos?
hero: ¿Quiénes somos?
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Pasión</h3>
		<p class="editable">Nos apasiona vender. Somos expertos en financiamiento de equipos tecnológicos.</p>
	</div>
	<div>
		<h3 class="editable">Transparencia</h3>
		<p class="editable">Trabajamos con instituciones oficiales y cumpliendo con todas las directivas legales.</p>
	</div>
	<div>
		<h3 class="editable">Honradez</h3>
		<p class="editable">Cumpliremos con el tiempo estipulado y su inversión estára garantizada.</p>
	</div>
</div>
